.reveal h1 {
  font-size: 2.5em;
}

.reveal h2 {
  font-size: 1.8em;
}

.reveal h3 {
  font-size: 1.2em;
}

.reveal pre code {
}

.reveal section img {
  margin: 0px 0px;
  padding: 30px;
  background: none;
  border: 0;
  box-shadow: 0 0 0;
  width: 20%;
}

.reveal section img.plain {
  border: 0;
  box-shadow: none;
}

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}

.reveal a:hover img {
  background: none;
  border-color: #42affa;
  box-shadow: none;
}
